<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<div class="modal-header">
    <h4 class="modal-title" id="modalTitle"></h4>
</div>
<h1 align="center">Chi tiết đơn hàng</h1>
<div class="qwick-view-right">
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Mã sản phẩm</th>
                <th scope="col">Tên khách</th>
                <th scope="col">Địa chỉ</th>
                <th scope="col">Ghi chú</th>
                <th scope="col">Tổng số lượng</th>
                <th scope="col">Phí VAT(10%)</th>
                <th scope="col">Phí Ship</th>
            </tr>
            </thead>
            <tbody>
            <tr >
                <td th:text="${orderDetails.id}"></td>
                <td th:text="${orderDetails.nameUserOrder}"></td>
                <td th:text="${orderDetails.addressOrder}"></td>
                <td th:text="${orderDetails.noteOrder}"></td>
                <td th:text="${orderDetails.totalNumberOrder} "></td>
                <td th:text="${#numbers.formatDecimal(orderDetails.vat,0,'POINT',0,'DEFAULT') +  '₫'}"></td>
                <td th:text="${#numbers.formatDecimal(orderDetails.shiping,0,'POINT',0,'DEFAULT') +  '₫'}"></td>

            </tr>
            </tbody>
            <tr>
                <th>Tổng tiền :</th>
                <td th:text="${#numbers.formatDecimal(orderDetails.totalOrder,0,'POINT',0,'DEFAULT') +  '₫'}"></td>
            </tr>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal"></button>
</div>