<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/layout-admin :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click"
      data-menu="vertical-menu" data-color="bg-gradient-x-purple-blue" data-col="2-columns">
<nav th:replace="/moon/web/admin/nav :: nav"></nav>
<nav th:replace="/moon/web/admin/menu :: menu"></nav>
<div class="app-content content">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Danh sách đơn hàng</h4>
                        <br>
                        <div class="form-actions center" >
                        </div>
                    </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Đơn hàng</th>
                                    <th scope="col">Ngày đặt</th>
                                    <th scope="col">Sản phẩm</th>
                                    <th scope="col">Tên khách đặt</th>
                                    <th scope="col">Tổng tiền</th>
                                    <th scope="col">Chức năng</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="userOrder : ${userOrder}">
                                    <td th:text="${userOrder.id}">Id</td>
                                    <td th:text="${userOrder.dateOrder}">Name</td>
                                    <td th:text="${userOrder.nameOrder}"></td>
                                    <td th:text="${userOrder.nameCustomer}"></td>
                                    <td th:text="${userOrder.priceOrder}"></td>
                                    <td>
                                        <a th:href="@{'/admin-deleteOrder/'+${userOrder.id}}"><i  style="color: black;">Xoá đơn hàng</i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--</div>-->
<footer th:replace="/moon/web/admin/footer :: footer"></footer>
<div th:replace="/layout/layout-admin :: script"></div>

</body>
</html>