<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/layout-admin :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click"
      data-menu="vertical-menu" data-color="bg-gradient-x-purple-blue" data-col="2-columns">
<nav th:replace="/moon/web/admin/nav :: nav"></nav>
<nav th:replace="/moon/web/admin/menu :: menu"></nav>
<div class="app-content content">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Quản lý sản phẩm</h4>
                        <br>
                        <div class="form-actions center" >
                            <a th:href="@{/addProduct}"  class="btn btn-outline-primary">Thêm sản phẩm</a>
                        </div>
                    </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Sản phẩm</th>
                                    <th scope="col">Tên sản phẩm</th>
                                    <th scope="col">Giá</th>
                                    <th scope="col">Chú thích</th>
                                    <th scope="col">Chức năng</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="product : ${listProducts}">
                                    <td th:text="${product.id}">Id</td>
                                    <td>
                                        <img th:src="@{'/images/'+${product.imageUrl}}" width="70" height="70">
                                    </td>
                                    <td th:text="${product.name}">Name</td>
                                    <td th:text="${product.price} +  '₫'"></td>
                                    <td th:text="${product.desciption}">Name</td>
                                    <td>
                                        <a th:href="@{'/editProduct/'+${product.id}}"><i >Sửa</i></a>
                                        <a th:href="@{'/deleteProduct/'+${product.id}}"><i  style="color: black;"></i>Xoá</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--</div>-->
<footer th:replace="/moon/web/admin/footer :: footer"></footer>
<div th:replace="/layout/layout-admin :: script"></div>

</body>
</html>