<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

>

<head th:replace="/layout/layout-admin :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click"
      data-menu="vertical-menu" data-color="bg-gradient-x-purple-blue" data-col="2-columns">
<nav th:replace="/moon/web/admin/nav :: nav"></nav>
<nav th:replace="/moon/web/admin/menu :: menu"></nav>
<div class="app-content content">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Quản lý sản phẩm</h4>
                        <br>
                        <div class="form-actions center" >
                            <a th:href="@{/addProduct}"  class="btn btn-outline-primary">Thêm người dùng</a>
                        </div>
                    </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Mã khách hàng</th>
                                    <th scope="col">Email khách hàng</th>
                                    <th scope="col">Tên khách hàng</th>
                                    <th scope="col">Số điện thoại</th>
                                    <th scope="col">Vai trò</th>
                                    <th scope="col">Chức năng</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${userList}">
                                    <td th:text="${user.id}">Id</td>
                                    <td th:text="${user.email}">Name</td>
                                    <td th:text="${user.fisrtname}"></td>
                                    <td th:text="${user.fisrtname}"></td>
                                    <td></td>
                                    <td>
                                        <a th:href="@{'/admin-deleteUser/'+${user.id}}"><i  style="color: black;"></i>Xoá</a>
                                        <a th:href="@{'/admin-userDetails/'+${user.id}}"><i style="color: black;"></i>Chi tiết</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--</div>-->
<footer th:replace="/moon/web/admin/footer :: footer"></footer>
<div th:replace="/layout/layout-admin :: script"></div>

</body>
</html>