<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/layout-web :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="/moon/web/header :: header"></header>
<div th:replace="/moon/web/header-bottom :: header-bottom"></div>
<div class="about-story pt-95 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="story-img">
                    <img th:src="@{/web/img/images/us.jpg}" alt="">
                    <div class="about-logo">
                        <h3>Hippo pizza</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="story-details pl-50">
                    <div class="story-details-top">
                        <h2>Giới thiệu về chúng tôi
                            <span>Pizza Hippo</span></h2>
                        <p>Kể từ khi mới bắt đầu hoạt động từ năm 1997, Pizza Hippo đã chinh phục hoàn toàn được khẩu vị của người Việt bởi hương vị đặc biệt của những chiếc bánh pizza, các loại mỳ ống Ý tuyệt vời và một số món ăn được ưa chuộng trên thế giới với giá cả cực kỳ hợp lý.

                            Hiện đã có 9 nhà hàng Pizza Hippo hoạt động tại Hà Nội.

                            Với khẩu phần và hương vị đặc trưng, Pizza Hippo không những đã và đang được những người nước ngoài sinh sống & làm việc tại Việt Nam, những khách du lịch mà còn cả những người Việt cũng vô cùng hâm mộ và yêu mến.

                            Nằm ngay tại trung tâm thành phố, với không gian rộng mở bạn có thể ghé vào để thưởng thức 1 ly cà phê hay có thể dùng thoả thích những món ăn tự chọn, mà chỉ với một chi phí phải chăng. Pizza Hippo đúng là nơi lý tưởng cho Quý khách đến dùng bữa cùng gia đình và bè bạn.

                            Phục vụ các loại bánh pizza nhiều kích cỡ với đế bánh giòn thơm, các loại mỳ Ý phong phú với các loại sốt thay đổi theo ngày, các loại phomai thơm ngon và thực đơn đặc biệt…. Pizza Hippo mang đến dịch vụ hoàn hảo nhất dành tặng Quý khách và chắc chắn sẽ tiếp tục được Quý khách ủng hộ nhiệt tình.

                            Pizza Hippo luôn luôn và mãi mãi duy trì một phong cách phục vụ: Vui lòng khách đến vừa lòng khách đi.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="/moon/web/footer :: footer"></footer>
</body>
</html>