<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/layout-web :: head">
    <meta charset="UTF-8">
    <title>Fashion</title>

</head>
<body>
<!-- Header -->
<header th:replace="/moon/web/header :: header"></header>
<div class="cart-main-area pt-95 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="cart-heading">Cart</h1>
                <form action="#">
                    <div class="table-content table-responsive">
                        <table>
                            <thead>
                            <tr>
                                <th>remove</th>
                                <th>images</th>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item : ${session.cart.itemDTOS}">
                                <td class="product-remove"><a th:href="@{'/removeCart/'+${item.productDTO.id}}"><i
                                        class="pe-7s-close"></i></a></td>
                                <td class="product-thumbnail">
                                    <a href="#"><img th:src="@{'/images/'+${item.productDTO.imageUrl}}"
                                                     th:height="100px" th:width="100px" alt=""></a>
                                </td>
                                <td class="product-name" th:text="${item.productDTO.name}"><a href="#">Wooden Furniture </a></td>
                                <td class="product-price-cart" th:text="${item.productDTO.price}"><span class="amount">$165.00</span></td>
                                <td class="product-quantity">
                                    <input value="1" type="number" th:value="${item.number}">
                                </td>
                                <td class="product-subtotal" th:text="${#numbers.formatCurrency(item.productDTO.price * item.number)}">$165.00</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="coupon-all">
                                <div class="coupon">
                                    <input id="coupon_code" class="input-text" name="coupon_code" value=""
                                           placeholder="Coupon code" type="text">
                                    <input class="button" name="apply_coupon" value="Apply coupon" type="submit">
                                </div>
                                <div class="coupon2">
                                    <input class="button" name="update_cart" value="Update cart" type="submit">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 ml-auto">
                            <div class="cart-page-total">
                                <h2>Cart totals</h2>
                                <ul>
                                    <li>Total<span th:text="${#numbers.formatCurrency(totalItem)}">100.00</span></li>
                                </ul>
                                <a href="#">Proceed to checkout</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- shopping-cart-area end -->
<footer class="footer-area">
    <div class="footer-top-area bg-img pt-105 pb-65" style="background-image: url(web)" data-overlay="9">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-3">
                    <div class="footer-widget mb-40">
                        <h3 class="footer-widget-title">Custom Service</h3>
                        <div class="footer-widget-content">
                            <ul>
                                <li><a href="cart.html">Cart</a></li>
                                <li><a href="register.html">My Account</a></li>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="register.html">Register</a></li>
                                <li><a href="#">Support</a></li>
                                <li><a href="#">Track</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-3">
                    <div class="footer-widget mb-40">
                        <h3 class="footer-widget-title">Categories</h3>
                        <div class="footer-widget-content">
                            <ul>
                                <li><a href="shop.html">Dress</a></li>
                                <li><a href="shop.html">Shoes</a></li>
                                <li><a href="shop.html">Shirt</a></li>
                                <li><a href="shop.html">Baby Product</a></li>
                                <li><a href="shop.html">Mans Product</a></li>
                                <li><a href="shop.html">Leather</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="footer-widget mb-40">
                        <h3 class="footer-widget-title">Contact</h3>
                        <div class="footer-newsletter">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is
                                dummy.</p>
                            <div id="mc_embed_signup" class="subscribe-form pr-40">
                                <form action="#" method="post" id="mc-embedded-subscribe-form"
                                      name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                    <div id="mc_embed_signup_scroll" class="mc-form">
                                        <input type="email" value="" name="EMAIL" class="email"
                                               placeholder="Enter Your E-mail" required>
                                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                        <div class="mc-news" aria-hidden="true">
                                            <input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef"
                                                   tabindex="-1" value="">
                                        </div>
                                        <div class="clear">
                                            <input type="submit" value="Subscribe" name="subscribe"
                                                   id="mc-embedded-subscribe" class="button">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="footer-contact">
                                <p><span><i class="ti-location-pin"></i></span>Address will go here. </p>
                                <p><span><i class=" ti-headphone-alt "></i></span> 0123456789 or 0123456789</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom black-bg ptb-20">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="copyright">
                        <p>
                            Copyright ©
                            <a href="#">ezone</a> 2018 . All Right Reserved.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- modal -->
<div class="modal fade" id="exampleCompare" tabindex="-1" role="dialog" aria-hidden="true">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span class="pe-7s-close" aria-hidden="true"></span>
    </button>
    <div class="modal-dialog modal-compare-width" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form action="#">
                    <div class="table-content compare-style table-responsive">
                        <table>
                            <thead>
                            <tr>
                                <th></th>
                                <th>
                                    <a href="#">Remove <span>x</span></a>
                                    <img src="assets/img/cart/4.jpg" alt="">
                                    <p>Blush Sequin Top </p>
                                    <span>$75.99</span>
                                    <a class="compare-btn" href="#">Add to cart</a>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="compare-title"><h4>Description </h4></td>
                                <td class="compare-dec compare-common">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has beenin the stand ard dummy text ever since the 1500s, when an unknown
                                        printer took a galley</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="compare-title"><h4>Sku </h4></td>
                                <td class="product-none compare-common">
                                    <p>-</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="compare-title"><h4>Availability </h4></td>
                                <td class="compare-stock compare-common">
                                    <p>In stock</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="compare-title"><h4>Weight </h4></td>
                                <td class="compare-none compare-common">
                                    <p>-</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="compare-title"><h4>Dimensions </h4></td>
                                <td class="compare-stock compare-common">
                                    <p>N/A</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="compare-title"><h4>brand </h4></td>
                                <td class="compare-brand compare-common">
                                    <p>Rayed</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="compare-title"><h4>color </h4></td>
                                <td class="compare-color compare-common">
                                    <p>Grey, Light Yellow, Green, Blue, Purple, Black </p>
                                </td>
                            </tr>
                            <tr>
                                <td class="compare-title"><h4>size </h4></td>
                                <td class="compare-size compare-common">
                                    <p>XS, S, M, L, XL, XXL </p>
                                </td>
                            </tr>
                            <tr>
                                <td class="compare-title"></td>
                                <td class="compare-price compare-common">
                                    <p>$75.99 </p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

