<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/layout-web :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="/moon/web/header :: header"></header>
<div class="breadcrumb-area pt-205 pb-210" style="background-image: url(web/img/images/15.jpg)">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h2>Thanh toán</h2>
            <ul>
                <li><a th:href="@{/}">Trang chủ</a></li>
                <li> Thanh toán </li>
            </ul>
        </div>
    </div>
</div>
<!-- checkout-area start -->
<div class="checkout-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="coupon-accordion">
                    <!-- ACCORDION START -->
                    <h3>Phản hồi khách hàng? <span id="showlogin" th:href="@{/login}">Nhấn để đăng nhập</span></h3>
                    <div id="checkout-login" class="coupon-content">
                        <div class="coupon-info">
                            <p class="coupon-text">Quisque gravida turpis sit amet nulla posuere lacinia. Cras sed est sit amet ipsum luctus.</p>
                            <form action="#">
                                <p class="form-row-first">
                                    <label>Username or email <span class="required">*</span></label>
                                    <input type="text" />
                                </p>
                                <p class="form-row-last">
                                    <label>Password  <span class="required">*</span></label>
                                    <input type="text" />
                                </p>
                                <p class="form-row">
                                    <input type="submit" value="Login" />
                                    <label>
                                        <input type="checkbox" />
                                        Remember me
                                    </label>
                                </p>
                                <p class="lost-password">
                                    <a href="#">Lost your password?</a>
                                </p>
                            </form>
                        </div>
                    </div>
                    <!-- ACCORDION END -->
                    <!-- ACCORDION START -->
                    <h3>Có phiếu giảm giá?<span id="showcoupon">Bấm vào đây để nhập mã của bạn</span></h3>
                    <div id="checkout_coupon" class="coupon-checkout-content">
                        <div class="coupon-info">
                            <form action="#">
                                <p class="checkout-coupon">
                                    <input type="text" placeholder="Coupon code" />
                                    <input type="submit" value="Apply Coupon" />
                                </p>
                            </form>
                        </div>
                    </div>
                    <!-- ACCORDION END -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-12">
                <form th:action="@{/checkoutPost}" th:object="${orderProduct}"  method="post">
                    <div class="checkbox-form">
                        <h3>ĐIỀN THÔNG TIN THANH TOÁN</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="checkout-form-list">
                                    <label>TÊN CỦA BẠN<span class="required">*</span></label>
                                    <input type="text" placeholder="" th:field="*{nameUserOrder}" >
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="checkout-form-list">
                                    <label>ĐỊA CHỈ <span class="required">*</span></label>
                                    <input type="text"  th:field="*{addressOrder}" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkout-form-list">
                                    <label>ĐIỆN THOẠI<span class="required">*</span></label>
                                    <input type="text" th:field="*{phoneNumber}" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="checkout-form-list create-acc">
                                    <input id="cbox" type="checkbox" />
                                    <label>Tôi đã đọc và đồng ý điều khoản trên</label>
                                </div>
                            </div>
                        </div>
                        <div class="different-address">
                            <div class="order-notes">
                                <div class="checkout-form-list mrg-nn">
                                    <label>GHI CHÚ CHO ĐƠN HÀNG</label>
                                    <textarea id="checkout-mess" cols="30" rows="10" th:field="*{noteOrder}"  ></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="order-button-payment">
                        <input type="submit" value="TIẾN HÀNH ĐẶT HÀNG" />
                    </div>
                </form>
            </div>
            <div class="col-lg-6 col-md-12 col-12">
                <div class="your-order" >
                    <h3>GIỎ HÀNG CỦA BẠN</h3>
                    <div class="your-order-table table-responsive" >
                        <table style="color: black ">
                            <thead>
                            <tr>
                                <th class="product-name">Sản phẩm</th>
                                <th class="product-total">Thành tiền</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="cart_item" th:each="checkout : ${session.cart.itemDTOS}">
                                <td class="product-name" th:text="${checkout.productDTO.name}">
                                    Vestibulum suscipit
                                    <strong class="product-quantity" th:text="${checkout.number}"> × 1</strong>
                                </td>
                                <td class="product-total">
                                    <span class="amount" th:text="${checkout.productDTO.price * checkout.number}">£165.00</span> ₫
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr style="color: black ">
                                <th>Tổng đơn hàng</th>
                                <td><span class="amount" th:text="${totalItem}" >£215.00</span> ₫
                                </td>
                            </tr>
                            <tr style="color: black ">
                                <th>Phí vat (10%)</th>
                                <td><span class="amount" th:text="${totalItem}" >£215.00</span> ₫
                                </td>
                            </tr>
                            <tr style="color: black ">
                                <th>Phí ship</th>
                                <td><span class="amount" th:text="${totalItem}" >£215.00</span> ₫
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="payment-method">
                        <div class="payment-accordion">
                            <div class="panel-group" id="faq">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title"><a class="collapsed" data-toggle="collapse" aria-expanded="false" data-parent="#faq" th:href="@{/cart}"> < Quay lại giỏ hàng</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="/moon/web/footer :: footer"></footer>
</body>
</html>