<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/layout-web :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="/moon/web/header-bottom :: header-bottom"></div>
<!-- register-area start -->
<div class="register-area ptb-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-12 col-lg-12 col-xl-6 ml-auto mr-auto">
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-form" align="center">
                            <h4 style="color: #85bd02;">Cảm ơn bạn đã mua hàng ! </h4>
                            <h4>--------------</h4>
                            <h4 style="color: #85bd02;"><a th:href="@{/checkorder-details}"> = > Theo dõi đơn hàng của bạn tại đây </a> </h4>
                            <h4 style="color: #85bd02;"><a th:href="@{/}">Tiếp tục order</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="/moon/web/footer :: footer"></footer>

</body>
</html>