<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/layout-web :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="/moon/web/header :: header"></header>
<div th:replace="/moon/web/header-bottom :: header-bottom"></div>
<div class="food-menu-area bg-img pt-115 pb-90" style="background-image: url(/web/img/images)">
    <div class="container">
                    <div class="section-title-furits text-center mb-95" >
                        <h2>Tất cả thực đơn</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-xl-3 col-md-6" th:each="products : ${menuList}" style="color: #85bd02;">
                            <div class="product-fruit-wrapper mb-60">
                                <div class="product-fruit-img" >
                                    <img th:src="@{'/images/'+${products.imageUrl}}" alt="">
                                    <div class="product-furit-action">
                                        <a class="furit-animate-left" title="Add To Cart" th:href="@{'/cart/'+${products.id}}">
                                            <i class="pe-7s-cart"></i>
                                        </a>
                                        <a class="furit-animate-right" title="Wishlist" href="#">
                                            <i class="pe-7s-like"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-fruit-content text-center">
                                    <h4><a href="product-details.html" th:text="${products.name}" th:href="@{/product-detail{id}(id=${products.id})}">Pinapple Freash</a></h4>
                                    <span th:text="${products.price}" th:href="@{/product-detail{id}(id=${products.id})}">$20.99</span> ₫
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<footer th:replace="/moon/web/footer :: footer"></footer>
<div th:replace="/layout/layout-web :: script"></div>
</body>
</html>