<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/layout-web :: head">
    <meta charset="UTF-8">
    <title>Trang chủ</title>

</head>
<body>
<!-- Header -->
<header th:replace="/moon/web/header :: header"></header>
<div class="slider-area">
    <div class="slider-active owl-carousel">
        <div class="food-slider bg-img slider-height-5" style="background-image: url(web/img/images/homepage.jpg)">
            <div class="container">
                <div class="food-slider-content text-center fadeinup-animated">
                    <!--                    <img class="animated" th:src="@{/web/img/images/banner.jpg}" alt="">-->
                    <p class="animated">
                    </p>
                    <a class="food-slider-btn animated" th:href="@{menu-list}">Xem Món Ngay</a>
                </div>
            </div>
        </div>
        <div class="food-slider bg-img slider-height-5" style="background-image: url(web/img/images/banner-home-vn.jpg)">
            <div class="container">
                <div class="food-slider-content text-center fadeinup-animated">
                    <!--                    <img class="animated" th:src="@{/web/img/images/banner.jpg}" alt="">-->
                    <a class="food-slider-btn animated" th:href="@{menu-list}">Xem Món Ngay</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="popular-product-area wrapper-padding-6 pt-115 pb-70 bg-img" style="background-image: url(/web)">
    <div class="container-fluid">
        <div class="section-title-10 text-center mb-85">
        </div>
        <div class="popular-product-wrapper">
            <div class="single-popular-product food-border-1 text-center mb-40"
                 th:each="products,count : ${listProducts}" th:unless="${count.count >3  }">
                <a th:href="@{/product-detail{id}(id=${products.id})}"><img th:src="@{'/images/'+${products.imageUrl}}"
                                                                            alt=""></a>
                <h2><a href="product-details.html" th:text="${products.name}"
                       style="color: black ; font-size: 20px; font-weight: bold">Veggie Fajitas</a></h2>
                <p th:text="${products.desciption}" style="font-size: 14px; ">Features tomatoes, garlic, oregano, and
                    extra virgin olive oil.</p>
                <div class="popular-product" style="font-size: 20px; color:#85bd02;">
                    <span th:text="${#numbers.formatDecimal(products.price,0,'POINT',0,'DEFAULT') + '₫'}" ></span>
                </div>
                <a class="icon-cart-furniture food-cart" th:href="@{'/cart/'+${products.id}}">
                    <i class="ti-shopping-cart"></i>
                </a>
            </div>
        </div>
        <div class="product-style-area pt-130 pb-30 wow fadeInUp" >
            <div class="container">
                <div class="section-title-furits text-center mb-95" >
                    <h2>Tất cả sản phẩm</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-xl-3 col-md-6" th:each="products : ${listProducts}" style="color: #85bd02;">
                        <div class="product-fruit-wrapper mb-60">
                            <div class="product-fruit-img" >
                                <img th:src="@{'/images/'+${products.imageUrl}}" alt="">
                                <div class="product-furit-action">
                                    <a class="furit-animate-left" title="Add To Cart" th:href="@{'/cart/'+${products.id}}">
                                        <i class="pe-7s-cart"></i>
                                    </a>
                                    <a class="furit-animate-right" title="Wishlist" href="#">
                                        <i class="pe-7s-like"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="product-fruit-content text-center">
                                <h4><a href="product-details.html" th:text="${products.name}" th:href="@{/product-detail{id}(id=${products.id})}">Pinapple Freash</a></h4>
                                <span th:text="${#numbers.formatDecimal(products.price,0,'POINT',0,'DEFAULT') + '₫'}"
                                      th:href="@{/product-detail{id}(id=${products.id})}">$20.99</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial area end -->
<!-- special food area start -->
<div class="special-food-area wrapper-padding-7 pt-115 pb-115">
    <div class="container">
        <div class="section-title-10 text-center mb-65">
            <h2>Sản phẩm khác</h2>
        </div>
    </div>
    <div class="container-fluid">
        <div class="special-food-active owl-carousel">
            <div class="single-special-food" th:each="menu2,count : ${listProducts}">
                <a  th:href="@{/product-detail{id}(id=${menu2.id})}"><img th:src="@{'/images/'+${menu2.imageUrl}}" alt=""></a>
                <div class="special-food-content text-center"
                     style="color:#85bd02; font-weight: bold ; font-size: 20px;">
                    <h4><a href="product-details.html" th:text="${menu2.name}" th:href="@{/product-detail{id}(id=${menu2.id})}"  >Chicken Nugget</a></h4>
                    <span style="color:#85bd02;" th:text="${#numbers.formatDecimal(menu2.price,0,'POINT',0,'DEFAULT') +  '₫'}" th:href="@{/product-detail{id}(id=${menu2.id})}">$50.00</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- special food area end -->
<div class="brand-logo-area-3 wrapper-padding-7 ptb-120 bg-img" style="background-image: url(/web)">
    <div class="container-fluid">
        <div class="brand-logo-active3 owl-carousel">
            <div class="single-brand">
                <img th:src="@{/web/img/images/14.png}" alt="">
            </div>
            <div class="single-brand">
                <img th:src="@{/web/img/images/15.png}" alt="">
            </div>
            <div class="single-brand">
                <img th:src="@{/web/img/images/16.png}" alt="">
            </div>
            <div class="single-brand">
                <img th:src="@{/web/img/images/17.png}" alt="">
            </div>
            <div class="single-brand">
                <img th:src="@{/web/img/images/18.png}" alt="">
            </div>
        </div>
    </div>
</div>
</div>
</div>
<footer th:replace="/moon/web/footer :: footer"></footer>
<div th:replace="/layout/layout-web :: script"></div>
</body>

</html>