<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/layout-web :: head">
    <meta charset="UTF-8">
    <title>Trang chủ</title>

</head>
<body>
<!-- Header -->
<header th:replace="/moon/web/header :: header"></header>
<div class="slider-area">
    <div class="slider-active owl-carousel">
        <div class="food-slider bg-img slider-height-5" style="background-image: url(web/img/images/banner.jpg)">
            <div class="container">
                <div class="food-slider-content text-center fadeinup-animated">
<!--                    <img class="animated" th:src="@{/web/img/images/banner.jpg}" alt="">-->
                    <p class="animated">
                    </p>
                    <a class="food-slider-btn animated" th:href="@{menu-list}">Xem ngay</a>
                </div>
            </div>
        </div>
        <div class="food-slider bg-img slider-height-5" style="background-image: url(/web/img/images/banner2.jpg)">
            <div class="container">
                <div class="food-slider-content text-center fadeinup-animated">
<!--                    <img class="animated" th:src="@{/web/img/images/banner.jpg}" alt="">-->
                    <a class="food-slider-btn animated" th:href="@{menu-list}">Xem ngay</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="popular-product-area wrapper-padding-6 pt-115 pb-70 bg-img" style="background-image: url(/web)">
    <div class="container-fluid">
        <div class="section-title-10 text-center mb-85">
            <h3 style="color: black">Pizza (Cỡ S: 6 miếng 22cm | Cỡ L: 8 miếng 30cm )</h3>
        </div>
        <div class="popular-product-wrapper">
            <div class="single-popular-product food-border-1 text-center mb-40" th:each="products : ${listProducts}">
                <a href="#"><img th:src="@{'/images/'+${products.imageUrl}}" alt=""></a>
                <h2><a href="product-details.html" th:text="${products.name}" style="color: black ; font-size: 20px; font-weight: bold" >Veggie Fajitas</a></h2>
                <p th:text="${products.desciption}" style="font-size: 14px; ">Features tomatoes, garlic, oregano, and extra virgin olive oil.</p>
                <div class="popular-product" style="font-size: 20px; color: black">
                    <span th:text="${products.price}" ></span>₫
                </div>
                <a class="icon-cart-furniture food-cart" th:href="@{'/cart/'+${products.id}}">
                    <i class="ti-shopping-cart"></i>
                </a>
            </div>
        </div>
        <!-- services area end -->
        <!-- menu area start -->
        <div class="food-menu-area bg-img pt-110 pb-120" style="background-image: url(/web/img/images/13.jpg)">
            <div class="container">
                <div class="section-title-10 text-center mb-60">
                    <h2>Special Menu</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text </p>
                </div>
                <div class="food-menu-product-style">
                    <div class="food-menu-list text-center mb-65 nav" role="tablist">
                        <a class="active" href="#menu1" data-toggle="tab" role="tab">
                            <h4>All Food </h4>
                        </a>
                        <a href="#menu2" data-toggle="tab" role="tab">
                            <h4>Chicken </h4>
                        </a>
                        <a href="#menu3" data-toggle="tab" role="tab">
                            <h4>Beef </h4>
                        </a>
                        <a href="#menu4" data-toggle="tab" role="tab">
                            <h4> Seafood</h4>
                        </a>
                        <a href="#menu5" data-toggle="tab" role="tab">
                            <h4> Soup </h4>
                        </a>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active show fade" id="menu1" role="tabpanel">
                            <div class="row">
                                <div class="col-lg-6" th:each="menu : ${specialMenu}">
                                    <div class="menu-product-wrapper" >
                                        <div class="single-menu-product mb-30">
                                            <div class="menu-product-img">
                                                <img th:src="@{'/images/'+${menu.imageUrl}}" alt="">
                                            </div>
                                            <div class="menu-product-content">
                                                <h4><a href="product-details.html" th:text="${menu.name}">Lamb Salad
                                                    with Fregola.</a></h4>
                                                <div class="menu-product-price-rating">
                                                    <div class="menu-product-price">
                                                        <span th:text="${menu.price}">$23.99</span>
<!--                                                        <span th:text="${#numbers.formatCurrency(menu.sale)}">$23.99</span>-->
                                                    </div>
                                                    <div class="menu-product-rating">
                                                        <i class="pe-7s-star"></i>
                                                        <i class="pe-7s-star"></i>
                                                        <i class="pe-7s-star"></i>
                                                        <i class="pe-7s-star"></i>
                                                        <i class="pe-7s-star"></i>
                                                    </div>
<!--                                                    <p th:text="${menu.categories}"></p>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="menu-btn-area text-center mt-40">
                        <a class="menu-btn btn-hover" href="menu-list.html">More Special Menu</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial area end -->
        <!-- special food area start -->
        <div class="special-food-area wrapper-padding-7 pt-115 pb-115">
            <div class="container">
                <div class="section-title-10 text-center mb-65">
                    <h2>Special Foods</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text </p>
                </div>
            </div>
            <div class="container-fluid">
                <div class="special-food-active owl-carousel">
                    <div class="single-special-food">
                        <a href="#"><img th:src="@{/web/img/images/8.jpg}" alt=""></a>
                        <div class="special-food-content text-center">
                            <h4><a href="product-details.html">Chicken Nugget</a></h4>
                            <p>Chicken meat which is breaded or battered, then deep-fried or baked.</p>
                            <span>$50.00</span>
                        </div>
                    </div>
                    <div class="single-special-food">
                        <img th:src="@{/web/img/images/9.jpg}" alt="">
                        <a href="#"></a>
                        <div class="special-food-content text-center">
                            <h4><a href="product-details.html">Ultimate Bacon Burger</a></h4>
                            <p>Chicken meat which is breaded or battered, then deep-fried or baked.</p>
                            <span>$50.00</span>
                        </div>
                    </div>
                    <div class="single-special-food">
                        <a href="#">
                            <img th:src="@{/web/img/images/9.jpg}" alt=""></a>
                        <div class="special-food-content text-center">
                            <h4><a href="product-details.html">Oldtimer with Cheese</a></h4>
                            <p>Chicken meat which is breaded or battered, then deep-fried or baked.</p>
                            <span>$50.00</span>
                        </div>
                    </div>
                    <div class="single-special-food">
                        <a href="#"><img th:src="@{/web/img/images/9.jpg}" alt=""></a>
                        <div class="special-food-content text-center">
                            <h4><a href="product-details.html"> Match Fajita Trio</a></h4>
                            <p>Chicken meat which is breaded or battered, then deep-fried or baked.</p>
                            <span>$50.00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- special food area end -->
        <div class="brand-logo-area-3 wrapper-padding-7 ptb-120 bg-img" style="background-image: url(/web)">
            <div class="container-fluid">
                <div class="brand-logo-active3 owl-carousel">
                    <div class="single-brand">
                        <img th:src="@{/web/img/images/14.png}" alt="">
                    </div>
                    <div class="single-brand">
                        <img th:src="@{/web/img/images/15.png}" alt="">
                    </div>
                    <div class="single-brand">
                        <img th:src="@{/web/img/images/16.png}" alt="">
                    </div>
                    <div class="single-brand">
                        <img th:src="@{/web/img/images/17.png}" alt="">
                    </div>
                    <div class="single-brand">
                        <img th:src="@{/web/img/images/18.png}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="/moon/web/footer :: footer"></footer>
<div th:replace="/layout/layout-web :: script"></div>
</body>

</html>