<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer class="footer-area" th:fragment="footer">
    <div class=" pt-65 pb-60 bg-img" style="background-image: url(/web/img/images/17.jpg)">
        <div class="food-footer-top">
        </div>
        <div class="food-footer-bottom pt-65">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="footer-widget">
                            <div class="food-about">
                                <a href="#"><img th:src="@{/web/img/images/alf-logo.png}"  alt=""></a>
                                <p>© 2020 HIPPO PIZZA VIETNAM</p>
                                <div class="food-about-info">
                                    <div class="food-info-wrapper">
                                        <div class="food-address">
                                            <div class="food-info-icon">
                                                <i class="pe-7s-map-marker"></i>
                                            </div>
                                            <div class="food-info-content">
                                                <p>số 23L Hai Bà Trưng, Phường Tràng Tiền, Quận Hoàn Kiếm, Hà Nội, Việt Nam</p>
                                            </div>
                                        </div>
                                        <div class="food-address">
                                            <div class="food-info-icon">
                                                <i class="pe-7s-call"></i>
                                            </div>
                                            <div class="food-info-content">
                                                <p>19006868</p>
                                            </div>
                                        </div>
                                        <div class="food-address">
                                            <div class="food-info-icon">
                                                <i class="pe-7s-chat"></i>
                                            </div>
                                            <div class="food-info-content">
                                                <p><a href="#">pizzavietnam@gmail.com</a>pizzavietnam@gmail.com</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-2">
                        <div class="footer-widget mt-50">
                            <h3 class="footer-widget-title-6">Chức năng</h3>
                            <div class="food-widget-content">
                                <ul>
                                    <li><a th:href="@{/cart}"><img src="assets/img/icon-img/41.png" alt=""> Giỏ hàng </a></li>
                                    <li><a th:href="@{/account}"><img src="assets/img/icon-img/41.png" alt=""> Tài khoản</a></li>
                                    <li><a th:href="@{/login}"><img src="assets/img/icon-img/41.png" alt=""> Đăng nhập</a></li>
                                    <li><a th:href="@{/register}"><img src="assets/img/icon-img/41.png" alt="">Đăng ký</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="footer-widget mt-50">
                            <h3 class="footer-widget-title-6">Thông tin</h3>
                            <div class="food-widget-content">
                                <ul>
                                    <li><a th:href="@{/about-us}" alt=""> Về chúng tôi</a></li>
                                    <li><a href="contact.html"><img src="assets/img/icon-img/41.png" alt="">Liên hệ</a></li>
                                    <li><a href="#"><img src="assets/img/icon-img/41.png" alt="">Điều khoản sử dụng</a></li>
                                    <li><a href="#"><img src="assets/img/icon-img/41.png" alt=""> Chính sách bảo mật</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="footer-widget food-widget mt-50">
                            <h3 class="footer-widget-title-6">Hippo Pizza</h3>
                            <div class="food-widget-content">
                                <a href="product-details.html"><img th:src="@{/web/img/images/thucdon1.png}"  alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="food-copyright black-bg-4 ptb-30">
        <div class="container text-center">
            <p>@ Công ty TNHH Anh Tuấn | Địa chỉ: số 23L Hai Bà Trưng, Phường Tràng Tiền, Quận Hoàn Kiếm, Hà Nội, Việt Nam <a href="#"> Hippo Pizza</a></p>
        </div>
    </div>
</footer>
</body>
</html>
