<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="header">
        <div class="header-bottom wrapper-padding-2 bg-img res-header-sm food-header" style="background-image: url(web/img/images/11.jpg)">
            <div class="container">
                <div class="header-bottom-wrapper">
                    <div class="logo-2 ptb-50">
                        <a th:href="@{/}">
<!--                            <img th:src="@{/web/img/images/alf-logo.png}" alt="">-->
                        </a>
                    </div>
                    <div class="menu-style-2 handicraft-menu menu-hover">
                        <nav>
                            <ul>
                                <li><a th:href="@{/}">Trang chủ</a>
                                </li>
                                <li><a href="#">Các trang khác</a>
                                    <ul class="single-dropdown">
                                        <li><a th:href="@{/about-us}">Về Hippo Pizza</a></li>
                                        <li><a th:href="@{/menu-list}">Thực đơn</a></li>
                                        <li><a th:href="@{/}">Cửa hàng</a></li>
                                        <li><a th:href="@{/register}">Đăng ký</a></li>
                                        <li><a th:href="@{/}">Hỗ trợ khách hàng</a></li>
                                        <li><a th:href="@{/checkout}">Kiểm tra đơn hàng</a></li>
                                        <li><a href="wishlist.html">Holine đặt hàng / 19006868</a></li>
                                    </ul>
                                </li>
                                <li sec:authorize="isAnonymous()"><a th:href="@{/login}">Đăng nhập</a>
                                </li>
                                <li sec:authorize="isAnonymous()"><a th:href="@{/register}">Đăng ký</a>
                                </li>
                                <li style="color: black; font-size: 16px; font-weight: bold;" sec:authorize="isAuthenticated()"> Xin chào :
                                    <span sec:authentication="principal.authorities">Roles</span>
                                </li>
                                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Đăng xuất</a>
                                </li>
                                <li ><a th:href="@{/admin-home}">Quản lý</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="header-cart">
                        <a class="icon-cart-furniture food-cart" th:href="@{/cart}">
                            <i class="ti-shopping-cart"></i>
                            <span class="shop-count-furniture green">02</span>
                        </a>
<!--                        <ul class="cart-dropdown" th:each="cartMenu : ${session.cart.itemDTOS}">-->
<!--                            <li class="single-product-cart">-->
<!--                                <div class="cart-img">-->
<!--                                    <a href="#"><img th:src="@{'/images/'+${cartMenu.productDTO.imageUrl}}"-->
<!--                                                     th:height="80px" th:width="100px" alt=""></a>-->
<!--                                </div>-->
<!--                                <div class="cart-title">-->
<!--                                    <h5><a href="#" th:text="${cartMenu.productDTO.name}"> Bits Headphone</a></h5>-->
<!--                                    <h6><a href="#">Black</a></h6>-->
<!--                                    <span th:text="${cartMenu.productDTO.price}">$80.00 x 1</span>-->
<!--                                </div>-->
<!--                                <div class="cart-delete">-->
<!--                                    <a th:href="@{'/removeMenuCart/'+${cartMenu.productDTO.id}}"><i class="ti-trash"></i></a>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li class="cart-space">-->
<!--                                <div class="cart-sub">-->
<!--                                    <h4>Thành tiền</h4>-->
<!--                                </div>-->
<!--                                <div class="cart-price">-->
<!--                                    <h4>$240.00</h4>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li class="cart-btn-wrapper">-->
<!--                                <a class="cart-btn btn-hover" href="#">view cart</a>-->
<!--                                <a class="cart-btn btn-hover" href="#">checkout</a>-->
<!--                            </li>-->
<!--                        </ul>-->
                    </div>
                </div>
            </div>
        </div>
</header>
</body>
</html>