<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
<div th:fragment="menu" class="main-menu menu-fixed menu-light menu-accordion    menu-shadow " data-scroll-to-active="true">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto"><a class="navbar-brand" href="index.html"><img class="brand-logo" alt="Chameleon admin logo" th:src="@{/web/img/images/user.png}"/>
                <h3 class="brand-text">Quản lý</h3></a></li>
            <li class="nav-item d-md-none"><a class="nav-link close-navbar"><i class="ft-x"></i></a></li>
        </ul>
    </div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class="active"><a th:href="@{/admin-home}"><i class="ft-credit-card"></i><span class="menu-title" data-i18n="">Quản lý sản phẩm</span></a>

            </li>

            <li class="active"><a th:href="@{/admin-order}"><i class="ft-credit-card"></i><span class="menu-title" data-i18n="">Quản lý đơn hàng</span></a>
            </li>
            <li class="active"><a th:href="@{/admin-user}"><i class="ft-credit-card"></i><span class="menu-title" data-i18n="">Quản lý khách hàng</span></a>
            </li>

            <li class="nav-item"><a th:href="@{/}"><i class="ft-layers"></i><span class="menu-title" data-i18n="">Thoát</span></a>
            </li>
        </ul>
    </div>
    <div class="navigation-background"></div>
</div>

</body>
</html>
